<nav
  class="w-auto mt-2 mx-5 bg-white border-gray-200 dark:bg-gray-600 dark:border-gray-700"
>
  <div class="p-2">
    <div class="flex-auto">
      <h1 class="font-mono text-center text-3xl font-black text-white-900">
        <%= title%>
      </h1>
    </div>
  </div>
  <div class="flex w-auto gap-4 p-2 justify-center">
    <div>
      <h2 class="text-2xl font-black"><%=userName%></h2>
    </div>
    <div class="">
      <button
        type="button"
        class="dark:bg-gray-700 text-white px-2 py-2 rounded font-small"
      >
        <a href="/elections"><p class="text-end">Home</p></a>
      </button>
    </div>
    <div class="">
      <button
        type="button"
        class="flex-auto bg-red-700 text-white px-2 py-2 rounded font-small"
      >
        <a href="/signout"><p class="text-end">Sign Out</p></a>
      </button>
    </div>
  </div>
</nav>
<hr class="my-5 h-px bg-gray-200 border-0 dark:bg-gray-700" />
