<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Online Voting</title>
  </head>
  <body class="bg-gray-500">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <div class=" w-100 mt-20">
          <p class="m-4 text-center text-3xl font-semibold text-gray-900">Online Voting Platform!</p>
          <p class="text-center text-xl font-semibold text-gray-900">New here? <a href="/signup" class="text-center text-xl font-bold text-white font-semibold hover:text-green-500">SignUp Now</a></p>
          <p class="text-center text-xl font-semibold text-gray-900">Already have an account? <a href="/login" class="text-center text-xl font-bold text-white font-semibold hover:text-green-500">SignIn</a></p>
          <div class="text-center mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 24" stroke-width="1.2" stroke="rgb(3, 252, 74)" class="w-100 h-100 ">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
            </svg>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
