<html>
  <head>
    <title>Signup</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-500">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2 pt-10">
        <p class="m-4 text-center text-3xl font-semibold text-gray-900">
          Online Voting Platform!
        </p>
        <h6 class="text-center py-4 text-2xl font-black text-gray-900">
          Signup as a new user
        </h6>
        <p class="text-center text-xl font-semibold text-gray-900">
          Already have an account?
          <a
            href="/login"
            class="hover:text-green-500 text-center text-xl font-bold text-white font-semibold"
            >SignIn</a
          >
        </p>
        <form action="/users" method="post" class="mt-3">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="firstName" class="text-gray-900 text-lg font-bold"
              >First name:
            </label>
            <input
              name="firstName"
              type="text"
              class="bg-neutral-300 border border-gray-300 text-gray-900 text-sm rounded w-full p-2 font-bold"
              autofocus
              required
            />
          </div>
          <div class="py-3">
            <label for="lastName" class="text-gray-900 text-lg font-bold"
              >Last name:
            </label>
            <input
              name="lastName"
              type="text"
              class="bg-neutral-300 border border-gray-300 text-gray-900 text-sm rounded w-full p-2 font-bold"
            />
          </div>
          <div class="py-3">
            <label for="email" class="text-gray-900 text-lg font-bold"
              >Email:
            </label>
            <input
              name="email"
              type="email"
              required
              class="bg-neutral-300 border border-gray-300 text-gray-900 text-sm font-bold rounded w-full p-2 font-bold"
            />
          </div>
          <div class="py-3">
            <label for="password" class="text-gray-900 text-lg font-bold"
              >Password:
            </label>
            <input
              name="password"
              type="password"
              class="bg-neutral-300 border border-gray-300 text-gray-900 text-sm rounded w-full p-2 font-bold"
              required
            />
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2"
            >
              Sign-up
            </button>
          </div>
        </form>
      </div>
      <div class="col-start-3 col-span-3 mb-15">
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li> <span class="m-1 mr-5 text-red-900 font-bold bg-gray-200 text-center" ><%= messages.error[i] %></span></li>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
